#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

p {
  color: #000;
  margin: 0px;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
  margin: 0px;
}
a:hover {
  color: #000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f0f0f0;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.screen {
  width: 100%;
  max-width: 480px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.col {
  flex: 1;
  padding: 10px 0;
}

.bottom-sheet {
  max-width: 480px;
}

/* 미디어 쿼리 수정 */
@media (min-width: 768px) {
  #root {
    background-color: #f0f0f0;
    height: 100vh; /* 추가 */
    box-sizing: border-box; /* 추가 */
  }

  .screen {
    width: 100%;
    margin: 0;
    height: 100%;
  }

  .row {
    flex-direction: row;
    margin: 0 -15px;
  }

  .col {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}
